@mixin header1 {
    font-size: 64px;
    font-weight: 900;
    line-height: 75px;
}

@mixin header2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
} 

@mixin header3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
} 

@mixin header4 {
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
}

@mixin header5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

@mixin header6 {
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
}


@mixin button_normal {
    display: inline-flex;
    padding: 30px 80px;
    background-color: $main_color;
    text-align: center;
    a {
        color: #fff; 
        text-transform: uppercase;
        @include header4;
        line-height: 21px;
    }


    @media (max-width: 1024px) {
        font-size: 18px;
        line-height: 21px;
    }

    @media (max-width: 320px) {
        width: 100%;
        padding:  15px;
    }
}

@mixin button_hover {
    @include button_normal;
    background-color: $hover-color;

    @media (max-width: 1024px) {
        font-size: 18px;
        line-height: 21px;
    }

    @media (max-width: 320px) {
        width: 100%;
        padding:  15px;
    }
}

@mixin button_active {
    @include button_normal;
    box-shadow: 4px 4px 30px 0 #FF4343;

    @media (max-width: 1024px) {
        font-size: 18px;
        line-height: 21px;
    }

    @media (max-width: 320px) {
        width: 100%;
        padding:  15px;
    }
}