.download {
    padding: 114px 0;
    text-align: center;
    position: relative;
    z-index: 0;
    @media (max-width: 768px) {
        padding: 78px 0;
    }
    @media (max-width: 320px) {
        padding: 34px 0 45px;
    }
    &__title {
        @include header3;
        font-weight: 500;
        margin-bottom: 5px;
        line-height: 70px;

        @media (max-width: 1024px) {
            font-size: 24px;
            line-height: 28px;
        }

        @media (max-width: 320px) {
            max-width: 280px;
            margin: 0 auto 20px;
            font-size: 18px;
            line-height: 21px;
        }
    }
    &__subtitle {
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        margin-bottom: 48px;
        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
        }
        @media (max-width: 425px) {
            margin-bottom: 40px;
        }
        @media (max-width: 320px) {
            font-size: 13px;
            line-height: 15px;
            text-transform: uppercase;
            margin-bottom: 11px;
        }
    }
    &__btn {
        @include button_normal;
        padding: 24px 79px;
        transition: all 0.3s;
        @media (max-width: 1024px) {
            padding: 28px 77px;
        }
        @media (max-width: 425px) {
            padding: 28px 57px;
        }
        @media (max-width: 320px) {
            width: 100%;
            padding: 28px 0;
        }

        a {
            @media (max-width: 1024px) {
                font-size: 18px;
                line-height: 21px;
            }
        }

        &:hover {
            @include button_hover;
            a {
                @media (max-width: 1024px) {
                    font-size: 18px;
                    line-height: 21px;
                }
            }
        }
        &:active {
            @include button_active;
            a {
                @media (max-width: 1024px) {
                    font-size: 18px;
                    line-height: 21px;
                }
            }
        }

        
    }
}