@import "./variables";
@import "./mixins";
@import "./fonts";
@import "./header";
@import "./team";
@import "./download";
@import "./footer.scss";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
    text-align: center;
    position: relative;
    z-index: 3;
}

html {
    font-family: "Raleway", "sans-serif";
}